body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.rtl {
    direction: rtl;  /* الاتجاه الافتراضي */
}

body.ltr {
    direction: ltr;  /* عند التحويل للإنجليزية */
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

img {
    max-width: 100%;
    height: auto;
}


footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}
